@import "./styles/variables.scss";
@import url(./styles/components.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Inter";
}

main {
  min-height: calc(100vh - $header-size - $footer-size);
}
